TSGAMT2010/Connected Services/TravellingSalesman/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TSGALib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TSGALib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7065/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BestGAInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fitness" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="mem" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BestGAInfo" nillable="true" type="tns:BestGAInfo" />
</xs:schema>